@model CoursesPlatform.Models.Course

@{
    ViewBag.Title = "Add";
}
<link href="~/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />

<form  @*action="/Course/Add" method="post"*@>
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add a new Course</h3>
                        <p class="box-info">Add a new Course in your Branch </p>
                    </div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("branch_id", (object)ViewBag.branch_id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" , @id="name" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @id = "description" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.capacity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.capacity, new { htmlAttributes = new { @class = "form-control", @id = "capacity" } })
                                @Html.ValidationMessageFor(model => model.capacity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />


                        <div class="form-group">
                            <label class="control-label col-md-2">Specialization</label>
                            <div class="col-md-8">
                                <select id="specialization_tabs" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option value="1">Android</option>
                                    <option value="2">.Net</option>
                                    <option value="3">Web</option>
                                    <option value="4">Desktop</option>
                                    <option value="5">AutoCad</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">CourseType</label>
                            <div class="col-md-8">
                                <select id="CourseType" class="form-control" name="day">
                                    <option value="1">IT             </option>
                                    <option value="2">Thanweya Amma  </option>
                                    <option value="3">Accounting     </option>
                                </select>
                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <input id="start_date" type="text" name="start_date" class="form-control pull-right datepicker_form">
                                @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <input id="end_date" type="text" name="end_date" class="form-control pull-right datepicker_form">
                                @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.expiration_register_date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <input id="expiration_register_date" type="text" name="expiration_register_date" class="form-control pull-right datepicker_form">
                                @Html.ValidationMessageFor(model => model.expiration_register_date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(model => model.course_duration_in_hours, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.course_duration_in_hours, new { htmlAttributes = new { @class = "form-control" , @id= "course_duration_in_hours" } })
                                @Html.ValidationMessageFor(model => model.course_duration_in_hours, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.no_of_days_per_week, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.no_of_days_per_week, new { htmlAttributes = new { @class = "form-control" , @id = "no_of_days_per_week" } })
                                @Html.ValidationMessageFor(model => model.no_of_days_per_week, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.no_of_hours_per_day, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.no_of_hours_per_day, new { htmlAttributes = new { @class = "form-control", @id = "no_of_hours_per_day" } })
                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.old_price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.old_price, new { htmlAttributes = new { @class = "form-control", @id = "old_price" } })
                                @Html.ValidationMessageFor(model => model.old_price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.new_price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.new_price, new { htmlAttributes = new { @class = "form-control", @id = "new_price" } })
                                @Html.ValidationMessageFor(model => model.new_price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div id="days_div">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="info-box bg-aqua">
                                    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
                                    <div class="info-box-content">
                                        <div class="col-md-4">
                                            <label class="control-label col-md-2">Day</label>
                                            <div class="col-md-8">
                                                <select class="form-control Day" name="day">
                                                    <option value="1">Sunday       </option>
                                                    <option value="2">Monday       </option>
                                                    <option value="3">Tuesday      </option>
                                                    <option value="4">Wednesday    </option>
                                                    <option value="5">Thursday     </option>
                                                    <option value="6">Friday       </option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label col-md-2">From</label>
                                            <div class="col-md-8">
                                                <input type="time" name="from" class="form-control From">
                                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label col-md-2">To</label>
                                            <div class="col-md-8">
                                                <input type="time" name="To" class="form-control To">
                                                @Html.ValidationMessageFor(model => model.no_of_hours_per_day, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="info-box-more" style="padding:30px">
                                        <a  style="margin:8px" class="btn btn-sm btn-danger btn-flat pull-right">Cancel</a>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="info-box" style="width:100%;text-align:center">
                                <a onclick="Add_Day()" class="btn btn-sm btn-info btn-flat">Add Day</a>
                            </div>
                            <!-- /.info-box -->
                        </div>

                        <div class="box-footer clearfix">
                            <a href="/Center/Dashboard" class="btn btn-sm btn-default btn-flat pull-left">Return to Dahsboard</a>

                            <input type="button" onclick="onsumit_form()" value="Add" class="btn btn-sm btn-info btn-flat pull-right" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</form>

    <script src="~/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>


<style>
    /* Style the form */
    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    /* Style the input fields */
    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #4CAF50;
        }
</style>


<script>
    var inputs = {};

    function Add_Day() {
        var html = `
            <div class ="col-md-12 col-sm-12 col-xs-12">
                 <div class ="info-box bg-aqua">
                                <span class ="info-box-icon"><i class ="far fa-calendar-alt"></i></span>
                                <div class ="info-box-content">
                                    <div class ="col-md-4">
                                        <label class ="control-label col-md-2">Day</label>
                                        <div class ="col-md-8">
                                            <select class ="form-control Day" name="day">
                                                <option value="1">Sunday       </option>
                                                <option value="2">Monday       </option>
                                                <option value="3">Tuesday      </option>
                                                <option value="4">Wednesday    </option>
                                                <option value="5">Thursday     </option>
                                                <option value="6">Friday       </option>
                                            </select>
                                            <span class ="field-validation-valid text-danger" data-valmsg-for="no_of_hours_per_day" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class ="col-md-4">
                                        <label class ="control-label col-md-2">From</label>
                                        <div class ="col-md-8">
                                            <input type="time" name="from" class ="form-control From">
                                            <span class ="field-validation-valid text-danger" data-valmsg-for="no_of_hours_per_day" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class ="col-md-4">
                                        <label class ="control-label col-md-2">To</label>
                                        <div class ="col-md-8">
                                            <input type="time" name="To" class ="form-control To">
                                            <span class ="field-validation-valid text-danger" data-valmsg-for="no_of_hours_per_day" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class ="info-box-more" style="padding:30px">
                                    <a style="margin:8px" class ="btn btn-sm btn-danger btn-flat pull-right">Cancel</a>
                                </div>
                                <!-- /.info-box-content-->
                            </div>
                         </div>
                `;

        $("#days_div").append(html);
    }


    function onsumit_form() {
        inputs = {}

        var Days = document.getElementsByClassName("Day");
        var Tos = document.getElementsByClassName("To");
        var froms = document.getElementsByClassName("From");

        var Days_array = [];
        var Tos_array = [];
        var froms_array = [];

        for (var i = 0; i < froms.length; i++) {
            Days_array.push(Days[i].value)
            Tos_array.push(Tos[i].value)
            froms_array.push(froms[i].value)
        }
        inputs["Days"] = Days_array
        inputs["Tos"] = Tos_array
        inputs["froms"] = froms_array

        if (!validateForm()) return false;


        var dataToSend = [];
        dataToSend = JSON.stringify(inputs);

        $.ajax({
            type: "POST",
            url: '@Url.Action("Add_Submit")',
            data: {
                'content': dataToSend
            },
            dataType: 'json',
            success: function (msg)
            {
                window.location.href = "/branch/dashboard/id=@(ViewBag.branch_id)";
            }
        });
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        //x = document.getElementsByClassName("content");
        y = document.getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 1; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "" && y[i].className != "select2-search__field invalid" && y[i].className != "select2-search__field") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false:
                valid = false;
            }

            //to add values
            if (y[i].className == "select2-search__field invalid" || y[i].className == "select2-search__field") {
                inputs["Specializations"] = $("#specialization_tabs").val()
                inputs["CourseType"] = $("#CourseType").val()
            }
            else {
                inputs[y[i].id] = y[i].value
            }

        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step").className += " finish";
        }
        return valid; // return the valid status
    }
</script>

