
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout_NoSideBar.cshtml";
}

<style>
    .main-sidebar
    {
        display:none
    }

    
    @@media (max-width: 767px) {
        .content {
        width: auto !important;
        }
    }
</style>
<div class="content" style="    width: 1100px;">
    <div class="lockscreen-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <form method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="search_string" placeholder="Search">

            <div class="input-group-btn">
                <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
        </div>
    </form>
    

    <div style="margin-top:30px">
        <div class="row">
            <style>
                .info-box {
                    cursor: pointer;
                }
            </style>

            <div class="col-md-12 col-sm-12 col-xs-12" style="display:none">
                <div class="info-box">
                    <div class="info-box-content" style="padding:0 !important">
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-3">
                                    <h2>YAT</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        scrambled it to make a type specimen book.
                                    </p>
                                    <h5><b>226541365</b></h5>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-5" style="padding: 20px;">
                                            <span class="info-box-text">2 Branches</span>
                                            <span class="info-box-number">
                                                <span class="badge bg-red" style="font-size:medium">Masr El gdeda <b>226541365</b></span>
                                                <span class="badge bg-red" style="font-size:medium">Madenet Nasr <b>226541365</b></span>
                                            </span>
                                        </div>
                                        <div class="col-md-3" style="padding: 20px;">
                                            <span class="info-box-text">Running Courses</span>
                                            <span class="info-box-number">20</span>
                                        </div>
                                        <div class="col-md-3" style="padding: 20px;">
                                            <span class="info-box-text">Specializations</span>
                                            <span class="info-box-number">
                                                <span class="badge bg-blue">Android</span>
                                                <span class="badge bg-blue">Java</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                       
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.info-box-content -->

                    <div class="box-footer">
                        <input type="submit" value="View" class="btn btn-sm btn-info btn-flat pull-right" />
                        <input type="submit" value="Follow" style="margin-right:10px" class="btn btn-sm btn-default btn-flat pull-right" />
                    </div>

                </div>
                <!-- /.info-box -->
            </div>


            @if (ViewBag.courses != null)
            {
                foreach (var course in ((List<CoursesPlatform.Models.Course>)ViewBag.courses))
                {
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon  bg-navy">@course.name</span>

                            <div class="info-box-content" style="padding:0 !important">
                                <div class="inner">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2>@course.name</h2>
                                            <p>
                                               @course.description
                                            </p>
                                            <h5><b>@course.start_date</b> to <b>@course.end_date</b></h5>
                                            <span class="pull-left badge bg-green"
                                                  style="font-size:large">
                                                @course.new_price L.E
                                            </span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4" style="padding: 20px;">
                                                    <span class="info-box-text">Center</span>
                                                    <span class="info-box-number">@course.centerName / @course.branchName</span>
                                                </div>
                                                <div class="col-md-4" style="padding: 20px;">
                                                    <span class="info-box-text">Instructor</span>
                                                    <span class="info-box-number">@course.instructorName</span>
                                                </div>
                                                <div class="col-md-4" style="padding: 20px;">
                                                    <span class="info-box-text">Current Students</span>
                                                    <span class="info-box-number">3/@course.capacity</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" style="padding: 20px;">
                                                    <span class="info-box-text">Days</span>
                                                    <span class="info-box-number">
                                                        @foreach (var day in course.courseDays)
                                                        {
                                                            <span class="badge bg-red">@day.day @day.from_time.ToShortDateString() to @day.to_time.ToShortDateString()</span>
                                                        }
                                                    </span>
                                                </div>
                                                <div class="col-md-3" style="padding: 20px;">
                                                    <span class="info-box-text">Num Hours</span>
                                                    <span class="info-box-number">@course.course_duration_in_hours Hours</span>
                                                </div>
                                                <div class="col-md-3" style="padding: 20px;">
                                                    <span class="info-box-text">Specializations</span>
                                                    <span class="info-box-number">
                                                        @foreach (var spec in course.specializations)
                                                        {
                                                            <span class="badge bg-red">@spec.name</span>
                                                        }
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /.info-box-content -->

                            <div class="box-footer">

                                <input type="submit" value="Apply" class="btn btn-sm btn-info btn-flat pull-right" />
                                <input type="submit" value="Bookmark" style="margin-right:10px" class="btn btn-sm btn-default btn-flat pull-right" />

                                <p class="pull-left">@course.courseTypeName</p>
                            </div>

                        </div>
                        <!-- /.info-box -->
                    </div>
                }
            }
            

            <div class="col-md-12 col-sm-12 col-xs-12" style="display:none">
                <div class="info-box">
                    <span class="info-box-icon  bg-blue" ><p>YAT</p></span>

                    <div class="info-box-content" style="padding:0 !important">
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>.NET</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing
                                        and typesetting industry. Lorem Ipsum has been the
                                        scrambled it to make a type specimen book.
                                    </p>
                                    <h5><b>10/12/2018</b> to <b>1/1/2019</b></h5>
                                    <span class="pull-left badge bg-green"
                                          style="font-size:large">
                                        1250 L.E
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Center</span>
                                            <span class="info-box-number">Yat / Masr El gdeda</span>
                                        </div>
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Instructor</span>
                                            <span class="info-box-number">Amr Zaki</span>
                                        </div>
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Current Students</span>
                                            <span class="info-box-number">3/30</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Days</span>
                                            <span class="info-box-number">
                                                <span class="badge bg-red">Sunday 7:00pm to 10:00pm</span>
                                                <span class="badge bg-red">Monday 7:00pm to 10:00pm</span>
                                            </span>
                                        </div>
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Num Hours</span>
                                            <span class="info-box-number">30 Hours</span>
                                        </div>
                                        <div class="col-md-4" style="padding: 20px;">
                                            <span class="info-box-text">Specializations</span>
                                            <span class="info-box-number">
                                                <span class="badge bg-blue">Android</span>
                                                <span class="badge bg-blue">Java</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.info-box-content -->

                    <div class="box-footer">

                        <input type="submit" value="Apply" class="btn btn-sm btn-info btn-flat pull-right" />
                        <input type="submit" value="Bookmark" style="margin-right:10px" class="btn btn-sm btn-default btn-flat pull-right" />

                        <p class="pull-left">IT courses</p>
                    </div>

                </div>
                <!-- /.info-box -->
            </div>
        </div>
    </div>
</div>
